.movie-thumb {
  width: 400px;
  position: relative;
  font-size: 0.9rem;
  animation: all 1s;
  margin-bottom: -4px;
}

.movie-image-poster {
  width: 100%;
}

.movie-thumb-base {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.3) 100%
  );
  /* background-repeat: repeat-x; */
}

.movie-info {
  position: absolute;
  bottom: 0;
  left: 12px;
  right: 12px;
  margin-bottom: 0.5em;
}

.movie-title h3 {
  color: #fff;
  display: inline-block;
  margin: 0 5px 5px 0;
  text-shadow: 0 0 20px #000;
  word-break: break-word;
}

.year {
  font-size: 14px;
  text-shadow: 0 0 20px #000;
}
